.nav {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100px;
  height: 100vh;
  grid-area: n;
  background-color: #aaa;
  background: rgb(42, 42, 42);
  background: linear-gradient(
  190deg,
  rgb(173, 173, 173) 0%,
  rgb(97, 97, 97) 50%,
  rgb(0, 0, 0) 100%)
}

.links {
  display: flex;
  flex-direction: column;
  padding: 5px 5px;
}

.links a {
  color: #fff;
  padding: 5px 5px;
  text-decoration: none;
}

.active {
  background-color: rgb(127, 214, 255);
}
