* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  display: grid;
  grid-template-areas: "h h h" "n m m";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 100px 1fr;
  height: 100vh;
}

button {
  padding: 5px;
  background-color: #999;
}
